
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .sticky{
  border-bottom: 1rem solid rgba(0, 0, 0, .2);
}
.logo{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: .3s ease-in-out;
}
.navbar a:hover,
.navbar a.active{
  color: var(--animation-color);
}
#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#theme-switch img{
 fill: var(--text-color);
}
#theme-switch img:last-child{
  display: none;
}
.darkmode #theme-switch img:first-child{
  display: none;
}
.darkmode #theme-switch img:last-child{
  display: block;
}